* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(136, 127, 255);
    margin: 0 auto;
}


/* Header / Nav Styles Start */

header {
    padding: 20px 35px;
    margin: o auto;
    background-color: #2a607c;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 48px;
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}


/* header */

header {
    background-color: red;
}


/* hero showcase */

.hero {
    background-color: green;
}


/* end hero shocase */


/* content-projects */

.content {
    background-color: blue;
}

#run-buddy img {
    width: 30%;
    /* height: 50%; */
}


/* Contact Info footer */

#footer-contact-info {
    background-color: yellow;
}